.App {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App h1 {
  color: rgb(187, 32, 32);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App .stop-watch {
  border: 2px solid black;
  background-color: black;
  border-radius: 5%;
  margin: 50px;
  padding: 30px;
  height: 600px;
  width: 300px;
}

.App .counter {
  margin-top: 100px;
}

.App .buttons .start{
  margin-top: 100%;
  margin: 20px;
  text-align: center;
}

.App .buttons .start{
  padding: 10px;
  width: 100px;
  margin-top: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(255, 148, 127);
  cursor: pointer;
}

.App .buttons .start:active { 
  background-color: rgb(242, 118, 94); 
} 

.App .buttons .reset{
  padding: 10px;
  width: 100px;
  font-weight: 700;
  margin-top: 100%;
  border: 1px solid black;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  border-radius: 5px;
  background-color: aquamarine;
  cursor: pointer;
}

.App .buttons .reset:active { 
  background-color: #67bea1; 
} 